
body {
	padding-top: 90px;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align: center;
}

.panel-login>.panel-heading a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
	color: #029f5b;
	font-size: 18px;
}

.panel-login>.panel-heading hr {
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"],
	.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login input:hover, .panel-login input:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}

.btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.radio {
	display: inline-block;
	text-align: center;
}

.filter-button {
	font-size: 18px;
	border: 1px solid #42B32F;
	border-radius: 5px;
	text-align: center;
	color: #42B32F;
	margin-bottom: 30px;
}

.filter-button:hover {
	font-size: 18px;
	border: 1px solid #42B32F;
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
	background-color: #42B32F;
}

.btn-default:active .filter-button:active {
	background-color: #42B32F;
	color: white;
}
.navbar-btn{
	margin: 0;
}
#logoutBtn{
	margin: 8px 16px 8px 8px;
}
.panel-body {
	padding: 10px;
	margin: 20px;
}

#app-options {
	max-width: 400px;
	width: 400px;
	display: block;
	margin: auto;
}

.navbar-nav.nav-justified>li {
	float: none;
}

.panel-login input[type="text"], .panel-login input[type="email"],
	.panel-login input[type="password"], .panel-login select, .panel-login option,
	.login-btn {
	height: 45px;
}

.bv-form .bv-icon-input-group {
	right: 15px;
	top: 4px;
}

#dismissAlert {
	/* 	width: 50%; */
	margin-left: auto;
	margin-right: auto;
}

#dismissAlertBody .glyphicon {
	margin-right: 12px;
}

#subscriberListTable tbody td:first-child {
	max-width: 16px;
	padding-left: 0;
	padding-right: 0;
}

#subscriberListTable tbody td:first-child i {
	margin: 0 8px;
	cursor: pointer;
}

#login-form .input-group, #login-form .btn{
	height: 45px;
	font-size: 16px;
}
 #login-form li{
 	font-size: 16px;
 }
 
#login-form .dropdown-header{
	margin-top: 10px;
}

#peopleSearchDiv{
/* 	padding-right: 0; */
}

/* spinning loading.. animation */
.loader {
	border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading-addon{
	border: none;
	background-color: transparent;
	-webkit-box-shadow: inset -1px 0px 0px 1px rgba(0,0,0,0.07);
	-moz-box-shadow: inset -1px 0px 0px 1px rgba(0,0,0,0.07);
	box-shadow: inset -1px 0px 0px 1px rgba(0,0,0,0.07);
}

#peopleSearchDiv{/* padding: 0; *//* 	width: 50%; *//*     float: right; */}
#peopleSearchDiv input{
	border:none;
	-webkit-box-shadow: inset 1px 0px 0px 1px rgba(0,0,0,0.07);
	-moz-box-shadow: inset 1px 0px 0px 1px rgba(0,0,0,0.07);
	box-shadow: inset 1px 0px 0px 1px rgba(0,0,0,0.07);

}
#peopleSearchDiv input:focus{
	outline-width: 0;
	outline: none;
	outline-style: none;
}

#search-popover-content{
	z-index: 1000;
	display: none;
    position: absolute; 
    right: 0;
    margin-top:10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

#search-popover-content .close{
	position: relative;
    color: #aaa;
    opacity: 0.8;
    display: inline-block;
}
#search-popover-content .close:hover{
	opacity:1;
}

#infoBar .alert{
	padding:6px;
	margin-bottom: 0;
}
#infoBar .alert-dismissible .close{
	right: 0px;
}
#people-search-row{
	padding: 15px 15px 0 15px;
}

#search-container{
	margin:0px;
	padding:0px;	
	position:relative;
}
#search-popover-content .alert{
	text-align:center;
}
#search-popover-content .alert .close{
	display: none;
}

.borderless .list-group-item {
    border: none;
}
#search-result-list{
	margin: 10px 0 0 0;
	max-height: 450px;
    overflow: scroll;
}

#search-result-title{
    font-size: 14px;
    padding: 8px;
    margin-top: 0;
    background-color: #ddd;
    width: fit-content;
    border-radius: 4px;
    display: inline-block;
}
#search-result-list  .span{

    display: inline-block;
    border: 1px solid;
    margin-right: 0 5px;
}
#deleteUserWarning{
	display: none;
	margin-top: 10px;
	padding:8px;
}
.commLogoTd{
	 max-width: 70px;
}
.commLogo{
    max-width: 50px;
    border-radius: 50%;
}
#communitiesListTable h4, #communitiesMembersListTable h4, #communitiesInviteeListTable h4{
	font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}
.commMiniInfos, .commAccess {
	font-size: 11px;
}
.commMiniInfos .fa-user{
	margin-right: 5px;
	color: #337ab7;
    font-size: 12px;
}
.truncate {
/*   width: 530px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.communityOptions .dropdown{
	margin-top: 10px;
}

.commMiniInfos span{
	margin: 0px 6px 0px 0px
    font-size: 16px;
    color: #bbb;
}

.commMiniInfos span:first-child{
	margin-left: 0;
}
.vert-split{
	margin: 6px;
}

.commSummary{
	max-width: 660px;
	font-size: 12px;
}

.commAccess .fa-arrow-up{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg); 
        background-color: #f4c416;

}
.commAccess i{
    margin: 0 3px 0 6px;
    color: black;
    border-radius: 50%;
}
.commAccess .fa-lock{
	color: #ea3c3c;
    font-size: 15px;
    padding: 0;
}

.commAccess .fa-arrow-up{
	position: relative;
    top: -3px;
    padding: 2px;
}

.commAccess i:after{
	margin-left: 5px;
}



.italic{
	font-style: italic;
}

.mem_active{
	color: #00DD00;
	margin-right: 6px;
}
.mem_inactive{
	color: #dbdbdb;
	margin-right: 6px;
}

#commMemberOptions .progress{
	display: none;
	height: 35px;
	margin: 0 ;
}
#commMemberOptions .progress-bar{
	display: block;
	width: 0%;
	height: 35px;
}

#exportCommMembersCSVbtn, #exportCommCSVbtn{
	float:right;
/* 	width: 100%; */
}

.glyphicon-cloud-download{
	margin-right: 6px
}

#uploadProfileImages i {
	margin-right: 10px;
}