{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div id="Landing">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="paneln">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="text-center">
                                        <img align="center" 
                                             src="../CA2/img/4Oh4.jpg" 
                                             alt="404 is 404 (Oh the irony) ;)" 
                                             />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
