{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div id="Landing">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Please provide your App/Client credentials</h4>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="login-form" action="{{ siteConfigs['website_www'] }}/getApiTokens" method="post" role="form" class="toggle-disabled">
                                        <div class="form-group">
                                            <div class="row">
	                                            <div class="col-lg-8">
	                                                <div class="input-group">
	                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                                                    <input type="text" name="client_secret" id="client_secret" tabindex="2" class="form-control" placeholder="Enter App Client Secret" value="" data-sanitize="trim" data-validation="required max256Chars appSecRegex" />
	                                                </div>
                                                </div>    
                                                <div class="col-lg-4 float-right">
	                                                <div class="input-group">
	                                                	<button type="button submit" class="btn btn-primary login-btn form-control glyphicon-glyphicon-log-in">Submit</button>
	                                                	<span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
		                                                
	                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
						{% include 'dismissAlert.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
