{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div id="Home">
		
        <div class="container">
            <div class="row">
            	{{ dump(subscribers) }}
            </div>
        </div>
    </div>

{% endblock %}
